
.card-estudiante{
    border: 2px solid #a5c5e7;
    border-radius: 4px;
}

.p-avisodoc{
    color: #808080;
    font-size: 1.1rem;
}

.card-trainee{
    border: 2px solid #a5c5e7;
    border-radius: 4px;
}

.card-junior{
    border: 2px solid #fdc314;
    border-radius: 4px;
}

.descuento{
    font-size: 1.4rem;
    font-weight: bolder;
}

.contenedor{
    width: 48%;
    margin: 0.4rem;

}

.input-correo{
    width: 98%;
}

.input-select{
    border: 1px solid grey;
}

.contenedor-total{
    width: 98%;
    background-color: #cce5ff;
    color: #194fa5;
    border-radius: 5px;
    margin-bottom: 10px;
}
.p-totalPagar{
    padding: 14px;
}

.contenedor-botones{
    width: 98%;
    
}